* {
  padding: 0;
  margin: 0;
}

#main-img {
  position: absolute;
  z-index: -100;
  left: 50%;
  top: 150px;
  width: 1400px;
  height: 700px;
  transform: translateX(-50%);
}

#telefono-img {
  width: 300px;
  height: 600px;  
}

.mensaje {
  border-radius: 25px;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;  
}

.mensaje * {
  -webkit-text-stroke: 5px #000;
  color: #f2f2f2;
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  animation: animation-mensaje 1.5s ease-out 0s 1;
}

.mensaje a {
  margin-top: 10px;
  -webkit-text-stroke: 0px #000;
  font-weight: 600;
  border-radius: 25px;
  font-size: 40px;
}

.contenedor {
  width: 1400px;
  margin: 0px auto;
}

.panel-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  width: 72%;
  margin: 50px auto;
}

@keyframes animation-mensaje {
  0% {    
    line-height: 5px;
    color: rgba(255, 255, 255, 0.05);
  }
  100% {    
    line-height: 80px;
    color: rgba(255, 255, 255, 1);
  }
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}
