.crearTarea {
  border: 1px solid transparent;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition-duration: 0.218s;
  transition-property: background, border, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
}

.trans {
  background: #fff;
  border-color: #e0e0e0;
}

.mis-tareas {
  width: 100%;
}

.mis-tareas thead tr th:nth-child(1) {
  width: 24%;
}

.mis-tareas thead tr th:nth-child(2) {
  width: 60%;
}

.mis-tareas thead tr th:nth-child(3) {
  width: 11%;
}

.mis-tareas thead tr th:nth-child(4) {
  width: 5%;
}

.btn-opciones {
  cursor: pointer;
}

.span-btn-opciones {
  margin-left: 28px;
}

/* Popup de panel de control */

.botones-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.popup-boton {
  width: 100%;
}

.popup-boton a {
  width: 100%;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: left;
}

.popup-boton a i {
  text-align: left;
}

.grupo-temas{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.unidad-tema{
  width: 20%;
  margin: 5px 10px 10px 5px;
}

.casilla{
  display: flex;
  flex-direction: row;
}