.perfil-foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-foto a {
  margin-top: 20px;
  width: 200px;
}

.perfil-datos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.perfil-datos div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.perfil-nombre form,
.perfil-correo form {
  width: 100%;
}

.perfil-nombre form input[name="perfil-nombre"],
.perfil-correo form input[name="perfil-correo"] {
  background-color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  border: 1px solid #000;
  width: 80%;
  padding: 6px 12px 6px 12px;
  margin-right: 5px;
  border-radius: 20px;
  color: #808080;
}

.perfil-nombre form input[name="perfil-nombre"]:focus,
.perfil-correo form input[name="perfil-correo"]:focus {
  outline: none !important;
  outline-width: 0 !important;
  border: 2px solid #b21016;
  border-radius: 20px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.perfil-nombre form input[name="perfil-guardar-nombre"],
.perfil-correo form input[name="perfil-guardar-correo"] {
  height: 50px;
  margin-bottom: 11px;
}

.perfil-datos h3 {
  color: #fff;
  padding-top: 55px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.perfil-contra form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.perfil-contra form input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.perfil-usuario {
  background-color: #343a40;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #000;
  padding: 25px;
}

.perfil-foto form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
  height: 0;
}

.perfil-foto form input {
  margin-bottom: 10px;
}

#in-perfil-foto {
  color: #fff;
}

#para-animar {
  display: none;
  width: 100%;
}

#para-animar input[name="perfil-guardar-foto"] {
  display: flex;
  justify-content: center;
}

.editor-img{
  visibility: hidden;
}

.btn-eliminar-cuenta{
  text-align: left;
  font-size: 18px;
  color: #F8A1A4;
}

.btn-eliminar-grupo{
  text-align: left;
  font-size: 18px;
  color: #F8A1A4;
}

.btn-eliminar-micuenta{
  text-align: left;
  font-size: 18px;
  color: #F8A1A4;
}

.btn-eliminar-cuenta:hover{  
  color: #F47378;
}

.btn-eliminar-grupo:hover{  
  color: #F47378;
}

.btn-eliminar-micuenta:hover{  
  color: #F47378;
}

.info-eliminar-cuenta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-eliminar-grupo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#foto-userperfil{
  max-width: 350px;
  min-width: 350px;
  max-height: 350px;
  min-height: 350px;
}

@media (max-width: 1271px) {
  .perfil-usuario-main {
    flex-direction: column;
    align-items: center;
  }

  .btn-eliminar-cuenta {
    text-align: center;
  }

  .perfil-datos {
    align-items: center;
    margin-bottom: 15px;
    width: auto;
  }

  .perfil-foto{
    width: auto;
  }

  .perfil-datos div {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150%;
  }

  .perfil-nombre form,
  .perfil-correo form {
    text-align: center;
  }

  .perfil-nombre form input[name="perfil-nombre"],
  .perfil-correo form input[name="perfil-correo"] {
    margin-bottom: 15px;
  }

  #sub-subir-foto {
    width: 175px;
  }
}

@media (max-width: 701px) {
  .perfil-datos h3 {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .perfil-nombre form,
  .perfil-correo form {
    flex-direction: column;
  }

  .perfil-nombre form input[name="perfil-nombre"],
  .perfil-correo form input[name="perfil-correo"] {
    width: 75%;
  }

  .perfil-nombre form input[type="submit"],
  .perfil-correo form input[type="submit"] {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .perfil-datos div {
    width: 100%;
  }

  .perfil-datos div form {
    width: 100%;
  }

  .perfil-nombre form input[name="perfil-nombre"],
  .perfil-correo form input[name="perfil-correo"],
  .perfil-contra form input[name="perfil-contra"],
  .perfil-contra form input[name="perfil-contra-repe"] {
    width: 100%;
  }

  .perfil-nombre form input[type="submit"],
  .perfil-correo form input[type="submit"] {
    width: 50%;
  }
}

@media (max-width: 355px) {
  .perfil-datos {
    width: 250px;
  }
  .perfil-datos h3 {
    font-size: 20px;
    width: 250px;
  }
}
